.card-wrapper {
  width: 100% !important;
  padding: 1% !important;
}
@media screen and (min-width: 600px) {
  .card-wrapper {
    width: 50% !important;
  }
}
@media screen and (min-width: 960px) {
  .card-wrapper {
    width: 33% !important;
  }
}
.item-gallery {
  margin: 0 auto !important;
  width: 100% !important;
}

.loading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
