.share-container {
  min-height: 100%;
  width: 100%;
  display: flex;
}
.share-container p {
  color: white;
  line-height: 1.1rem;
  padding-bottom: 0.5rem;
  font-size: 16px;
}
.card-preview {
  max-width: 300px !important;
  margin: auto;
}
.card-preview-wrapper {
  padding: 5%;
  flex: 0 0 45%;
}
.errorMess {
  color: red;
  position: absolute;
  font-size: 14px;
}
